.root {
    -fx-background-color: #121212;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
    -fx-padding: 20 0 0 0;
}

.language-label {
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

.language-button {
    -fx-background-color: #555555;
    -fx-background-radius: 0;
}

.language-button:focused {
    -fx-background-color: #3EA6FF;
}

.language-button:focused .label {
    -fx-text-fill: #121212;
}


.language-button:pressed, .language-button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.menu-button {
    -fx-background-color: transparent;
}

.menu-button:focused {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.menu-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.menu-button-label {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}