.root {
    -fx-font-family: "Montserrat";
    -fx-background-color: #121212;
    -fx-font-size: 16px;
}

.title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
    -fx-padding: 40 0 0 0;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

.spinner {
    -fx-background-color: #555555;
    -fx-min-width: 180px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #E0E0E0;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #888888;
    -fx-padding: 0 5 0 5;
}

.spinner:focused {
    -fx-background-color: #3EA6FF;
}

.spinner:focused .text-field {
    -fx-text-fill: #121212;
}

.check-box {
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

.check-box .box {
    -fx-background-color: #555555;
    -fx-border-color: #888888;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

.check-box:selected .mark {
    -fx-background-color: #3EA6FF;
}

.check-box:focused .box {
    -fx-background-color: #999999;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.app-button {
    -fx-background-color: #888888;
    -fx-background-radius: 0;
    -fx-font-size: 18px;
    -fx-min-width: 250px;
    -fx-min-height: 50px;
    -fx-text-fill: #121212;
}

.app-button:focused {
    -fx-background-color: #3EA6FF;
    -fx-text-fill: #121212;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed, .button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.language-button {
    -fx-background-color: #555555;
    -fx-background-radius: 0;
}

.language-button:focused {
    -fx-background-color: #3EA6FF;
}

.language-button:focused .label {
    -fx-text-fill: #121212;
}

.language-button:pressed, .language-button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.menu-button {
    -fx-background-color: transparent;
}

.menu-button:focused {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.menu-button-label {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}