.root {
    -fx-background-color: #121212;
}

.language-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
    -fx-padding: 20 0 0 0;
}

.language-label {
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

.language-button {
    -fx-background-color: #555555;
    -fx-background-radius: 0;
}

.language-button:hover, .language-button:focused {
    -fx-background-color: #3EA6FF;
}

.language-button:hover .label, .language-button:focused .label {
    -fx-text-fill: #121212;
}


.language-button:pressed, .language-button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}