.root {
    -fx-background-color: #121212;
    -fx-font-size: 16px;
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
    -fx-padding: 20 0 0 0;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

.spinner {
    -fx-background-color: #121212;
}

.app-button {
    -fx-background-color: #888888;
    -fx-background-radius: 0;
    -fx-font-size: 18px;
    -fx-min-width: 250px;
    -fx-min-height: 50px;
}

.app-button:focused {
    -fx-background-color: #3EA6FF;
    -fx-text-fill: #121212;
}

.button:pressed, .button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.language-button {
    -fx-background-color: #555555;
    -fx-background-radius: 0;
}

.language-button:focused {
    -fx-background-color: #3EA6FF;
}

.language-button:focused .label {
    -fx-text-fill: #121212;
}

.language-button:pressed, .language-button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.menu-button {
    -fx-background-color: transparent;
}

.menu-button:focused {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.menu-button-label {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}